$def with (posts)

	<section class="section section-lg bg-secondary text-white overflow-hidden z-2" style="background-image: url('$session['user']['background']');">
            <div class="container z-2">
                <div class="row justify-content-center text-center pt-6 pt-md-5 pb-0 mb-2">
                    <div class="col-lg-8 col-xl-8">
						<div class="profile-dtl">

					$if session['user'] == None:
						<h1>Hi No-one</h1>
					$else:
						<img src="$session['user']['avatar']" alt="">
						<p class="lead px-xl-5">$session['user']['name']</p>

						</div>
                    </div>

                </div>
            </div>
        </section>
    <div class="container secondnav">

			<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--secondenav-->

				<ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="/profile/$session['user']['username']">Activity <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/profile/$session['user']['username']/info">Info</a>
				  </li>
					</ul>
				<form class="form-inline my-2 my-lg-0">
				  <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
				  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>

			</nav>

</div>
 $:posts